# Azure Cosmos DB Connection Strings (MongoDB API)
MONGODB_AUTH_URI=mongodb://microservices-cosmosdb-auth:YOUR_PRIMARY_KEY@microservices-cosmosdb-auth.mongo.cosmos.azure.com:10255/auth-service?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000&appName=@microservices-cosmosdb-auth@

MONGODB_USER_URI=mongodb://microservices-cosmosdb-user:YOUR_PRIMARY_KEY@microservices-cosmosdb-user.mongo.cosmos.azure.com:10255/user-service?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000&appName=@microservices-cosmosdb-user@

MONGODB_TODO_URI=mongodb://microservices-cosmosdb-todo:YOUR_PRIMARY_KEY@microservices-cosmosdb-todo.mongo.cosmos.azure.com:10255/todo-service?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000&appName=@microservices-cosmosdb-todo@

# RabbitMQ Credentials (cho local RabbitMQ container)
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=your_secure_rabbitmq_password_123

# JWT Secret (Generate a strong secret for production)
JWT_SECRET=your_super_secure_jwt_secret_key_for_production_2024

# Azure Service Bus Connection String (thay thế RabbitMQ)
AZURE_SERVICE_BUS_CONNECTION_STRING=Endpoint=sb://microservices-servicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=YOUR_ACTUAL_KEY_HERE
